body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-color: #6096b4;
}

.nav-btn {
  list-style: none;
}

.nav-option {
  margin: 0.625rem;
}

header {
  height: 80vh;
  background-image: url(https://wallpapers.com/images/hd/code-text-colorful-symbols-programming-avfu043y2kv52wha.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.card-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.texto {
  color: rgb(175, 86, 216);
  font-size: 60px;
}

.caja {
  border-radius: 1rem;
  width: 40rem;
  height: 15rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  background-color: dimgrey;
}

.h1 {
  color: #eee9da;
  font-size: 60px;
}

.h4 {
  color: #6096b4;
  font-size: 30px;
}
.article {
  background-color: #bdcdd6;
  font-size: 20px;
}

.grid {
  display: grid;
}

.grid-list-container {
  grid-template-columns: auto;
}
@media (max-width: 576px) {
  .grid-list-container {
    grid-template-columns: auto;
  }
  .box-4 {
    border-radius: 1rem;
    width: 16rem;
    height: 20rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
  }
}
